---

---

<header
  class="relative max-w-[1110px] mx-auto flex justify-between items-center mb-8 sm:flex"
>
  <img src="/images/logo.svg" class="w-auto h-[28px]" alt="logo" />

  <nav class="sm:flex">
    <img
      src="/images/icon-menu.svg"
      class="w-auto h-[17px] sm:hidden"
      alt="menu"
      id="menu"
    />

    <ul class="hidden text-gunmetal sm:flex gap-[24px] capitalize">
      <li>home</li>
      <li>new</li>
      <li>popular</li>
      <li>trending</li>
      <li>categories</li>
    </ul>
  </nav>
</header>
