<header class="flex justify-between items-center mb-8">
  <img src="/images/logo.svg" class="w-auto h-[28px]" alt="logo" />

  <nav>
    <img src="/images/icon-menu.svg" class="w-auto h-[17px]" alt="menu" />
  </nav>
</header>
