---
import { Image } from 'astro:assets';
import Button from './Button.astro';

import mobileImage from '@assets/image-web-3-mobile.jpg';
import desktopImage from '@assets/image-web-3-desktop.jpg';
---

<section class="mb-16 col-span-2">
  <picture>
    <source media="(max-width: 768px)" srcset={mobileImage.src} />
    <source media="(min-width: 800px)" srcset={desktopImage.src} />
    <img
      src={desktopImage.src}
      class="mb-6 mx-w-full"
      alt={'geometric shapes'}
    />
  </picture>

  <h1 class="text-[40px] font-extrabold leading-[40px] mb-4">
    The Bright Future of Web 3.0?
  </h1>
  <p class="leading-[26px] text-gunmetal mb-6">
    We dive into the next evolution of the web that claims to put the power of
    the platforms back into the hands of the people. But is it really fulfilling
    its promise?
  </p>
  <Button text="read more" />
</section>
