---
const { title, text } = Astro.props;
---

<article class="mb-[29px] last:mb-0">
  <h3
    class="text-off-white text-[20px] leading-[24px] font-extrabold mb-2 mt-[35px]"
  >
    {title}
  </h3>
  <p class="text-silver leading-[26px]">
    {text}
  </p>
</article>
