---
import NewsPost from '@components/NewsPost.astro';

const newsPosts = [
  {
    title: 'Hydrogen VS Electric Cars',
    text: 'Will hydrogen-fueled cars ever catch up to EVs?',
  },
  {
    title: 'The Downsides of AI Artistry',
    text: 'What are the possible adverse effects of on-demand AI image generation?',
  },
  {
    title: 'Is VC Funding Drying Up?',
    text: 'Private funding by VC firms is down 50% YOY. We take a look at what that means.',
  },
];
---

<section class="bg-dark-blue py-6 px-5 mb-16">
  <h2 class="capitalize text-soft-orange font-bold text-[32px] leading-[32px]">
    new
  </h2>

  <div class="divide-y divide-gunmetal">
    {
      newsPosts.map((post, i) => {
        return <NewsPost title={post.title} text={post.text} />;
      })
    }
  </div>
</section>
