---
import NewsPost from './NewsPost.astro';
---

<section class="bg-dark-blue py-6 px-5">
  <h2
    class="capitalize text-soft-orange font-bold text-[32px] leading-[32px] mb-[35px]"
  >
    new
  </h2>

  <NewsPost />
</section>
