<article>
  <h3 class="text-off-white text-[20px] leading-[24px] font-extrabold mb-2">
    Hydrogen VS Electric Cars
  </h3>
  <p class="text-silver leading-[26px]">
    Will hydrogen-fueled cars ever catch up to EVs?
  </p>
</article>
