<div id="overlay"></div>

<style>
  div {
    display: none;
    z-index: 10;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 26, 0.5);
  }
</style>
