<nav
  class="hidden min-h-full min-w-[69%] z-10 absolute right-0 px-[24px] bg-white flex justify-center"
  id="nav"
>
  <img
    src="/images/icon-menu-close.svg"
    class="absolute right-5 h-[30px] w-auto"
    alt=""
    id="close"
  />
  <ul
    class="w-full text-lg text-dark-blue leading-6 mt-[144px] capitalize flex flex-col gap-[24px]"
  >
    <li>home</li>
    <li>new</li>
    <li>popular</li>
    <li>trending</li>
    <li>categories</li>
  </ul>
</nav>
